body {
	background: url("../img/bg.png");
	font-family: 'Open Sans', sans-serif;
}

/*Base Nav Styling*/

nav li{
	
	float: left;
	list-style: none;
	margin:0 20px;
}



/* Link states*/

nav a:link,
nav a:visited{
	background: green;
	color: white;
	padding: 20px 20px 20px 60px;
	text-decoration: none;
}

nav a:hover,
nav a:active{
	background: yellow;
}

/*Hover states*/
#first a:hover{
	background: url("../img/flask.png") no-repeat left bottom;

}

/* advanced selection*/

aside h3 + img{
	border: 4px solid black;
}

/* Helper Classes */
.showgrid {
	background: url("../img/grid-bg.png");
}